.header-container {
  background-color: #f1f5f9;
}

.website-logo {
  width: 140px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.website-logo-button {
  border: none;
  background: none;
  cursor: pointer;
}
